<dev class="container">
  <div class="row">
    <div class='mx-auto col-9 mb-4'>
      <!--サクセスメッセージ-->
      <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:success] %>
        </div>
      <% end %>
      <h3><span style="background-color:#EEEEEE">商品一覧</span></h3>
        <div class="text-right pb-3">
          <%= link_to '',new_admin_item_path,class: 'btn btn-outline-secondary fa-2x fas fa-plus' %>
        </div>
       <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <!--価格表示を３桁区切りにしたいのでconverting_to_jpyを追記-->
            <td><%= converting_to_jpy(item.price) %></td>
            <td><%= item.genre.name %> </td>
            <td>
              <% if item.is_active == true %>
                <font color="green">販売中</font>
              <% elsif item.is_active == false %>
                <font color="silver">販売停止中</font>
              <%  end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </dev>
  </div>
</div>