<body>
  <%= f.label :"郵便番号", autofocus: true, class: "col-sm-4 control-label" %>
  <%= f.text_field :postal_code, class: "col-sm-4 form-control-static postal_code" %>


  <%= f.label :"住所", class: "col-sm-4 control-label" %>
  <%= f.text_field :residence, autofocus: true, class: "col-sm-8 form-control-static address"  %>

  <%= f.label :"電話番号", class: "col-sm-4 control-label" %>
  <%= f.text_field :phone_number, class: "col-sm-4 form-control-static" %>

  <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
   <%= f.text_field :email, class: "col-sm-4 form-control-static" %>
</body>