
 <body> 
 <% provide(:title, "会員一覧") %>
  <p></p>
  <h2 class="head-line title_h2 text-center">
    <%= @Customer.last_name %>さんの会員詳細
    <div class="actions">
  </h2>
   <table class="table">
   <p> </p>
              　<p></p>
 <tbody>
        <tr>
            <td>会員ID</td>
            <td><%= @Customer.id %></td>
        </tr>

          
        <tr>
            <td>会員氏名</td>
            <td><%= @Customer.last_name %>  <%= @Customer.first_name %></td>
        </tr>
            <tr>
            <td>フリガナ</td>
            <td><%= @Customer.last_name_kana %>  <%= @Customer.first_name_kana %></td>
        </tr>
            <tr>
            <td>郵便番号</td>
            <td><%= @Customer.post_code %></td>
        </tr>
            <tr>
            <td>住所</td>
            <td><%= @Customer.address %></td>
        </tr>
            <tr>
            <td>電話番号</td>
            <td><%= @Customer.phone_number %></td>
        </tr>
            <tr>
            <td>メールアドレス</td>
            <td><%= @Customer.email%></td>
        </tr>
        <tr>
            <td>会員ステータス</td>
            <td><% if @Customer.is_deleted == true%>
                退会済み
              <% else %>
                有効
              <% end %></td>
        </tr>
      <th><%= link_to "編集",edit_admin_customer_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
      <%= link_to " 注文履歴一覧を見る",admin_root_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
       </th>
    </tbody>

        
</body>