<dev class="container">
  <div class="row">
    <div class='mx-auto col-9 mb-4'>
      <h3><span style="background-color:#EEEEEE"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span></h3>
        <table class="table table-borderless">
          <tr>
            <th>会員ID</th>
            <th><%= @customer.id %></th>
          </tr>
          <tr>
            <th>氏名</th>
            <th><%= @customer.last_name %>　<%= @customer.first_name %></th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th>〒<%= @customer.post_code.to_s.insert(3, "-") %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= @customer.address %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= @customer.phone_number %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @customer.email %></th>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <th><% if @customer.is_deleted == false %>
                  <font color="green">有効</font>
                <% elsif @customer.is_deleted == true %>
                  <font color="silver">退会済み</font>
                <% end %>
            </th>
          </tr>
        </table>
     <%= link_to "編集する",edit_admin_customer_path, class: "btn btn-success" %>
     <%= link_to " 注文履歴一覧を見る",admin_path(@customer), class: "btn btn-info" %>
    </div>
  </div>
</div>