<h3>ジャンル一覧・追加</h3>

  <%= form_with model:@genre, :url => {:action => :create} do |f| %>
    <p>ジャンル名
      <%= f.text_field :name %>
        <%= f.submit '新規登録' %>
      <% end %>
    </p>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre) %></td>
    </tr>
    <% end %>
  </tbody>
</table>