<h2>マイページ</h2>

<h4>登録情報</h4> <p><%= link_to "編集する",customer_edit_path, class: "btn btn-success" %></p>


<table class="table table-bordered">
  <tr>
    <td>氏名</td>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
  </tr>
  <tr>
    <td>フリガナ</td>
    <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @customer.post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>

</table>


<h5>配送先<%= link_to"一覧を見る", addresses_path,class: "btn btn-primary" %></h5>
<h4>注文履歴</h4><!--注文履歴一覧リンク-->