<h1>注文履歴一覧画面</h1>
<table class="table table-hover table-inverse">
  <thead>
   <tr>
       <th>注文日</th>
       <th>配送先</th>
       <th>注文商品</th>
       <th>支払い金額</th>
       <th>ステータス</th>
       <th>注文詳細</th>
   </tr>
  </thead>
  <tbody>
<%= @order.each do |order| %>
   <tr>
    <td></td>
    <td>
        <%= order.address %>
        <%= order.post_code %>
        <%= order.name %>
    </td>
    <td>
      <%= @cart_items %>
     </td>
    <td>
     <%= order.total_price %>
    </td>
    <td></td>
    <td></td>
    </tr>
   </tbody>
 </table>
 <% end %>