<h1>注文履歴一覧画面</h1>
<table class="table table-hover table-inverse">
  <thead>
   <tr>
       <th>注文日</th>
       <th>配送先</th>
       <th>注文商品</th>
       <th>支払い金額</th>
       <th>ステータス</th>
       <th>注文詳細</th>
   </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
   <tr>
    <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
    <td>
        <%= order.address %>
        <%= order.post_code %>
        <%= order.name %>
    </td>
    <td>
      <%#= order.order_details.item %>
     </td>
    <td>
     <%= order.total_price %>
    </td>
    <td><%= order.status %></td>
    <td><%= link_to "詳細",  %></td>
    </tr>
   </tbody>
 </table>
 <% end %>