<div class="container mt-3">
  <h1>注文履歴一覧画面</h1>
  <div class="row pt-4 mb-4">
    <table class="table table-bordered width=100%" >
      <tr class="table-active">
        <th width="10%">注文日</th>
        <th width="45%">配送先</th>
        <th width="15%">注文商品</th>
        <th width="10%">支払金額</th>
        <th width="10%">ステータス</th>
        <th width="10%">注文詳細</th>
      </tr>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          〒<%= order.post_code.to_s.insert(3, "-") %><br>
          <%= order.address %><br>
          <%= order.name %>
        </td>
        <td><% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %>
            <% end %>
        </td>
        <td><%= converting_to_jpy(order.total_price) %>円</td>
        <td><%= order.status %></td>
        <td><%= link_to "表示する",order_path(order.id), class: "btn btn-primary btn-sm" %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @orders %>
  </div>
</div>