<div class="address_new">
  <%= form_with model:address, local:true do |f| %>
  
    <h4>郵便番号(ハイフンなし)</h4><%= f.text_field :post_code %>
    
    <h4>住所</h4><%= f.text_field :address %>
  
    <h4>宛名</h4><%= f.text_field :name %>
  
    <%= f.submit '新規登録' %>
  
  <% end %>
</div>