<h1>配送先編集</h1>
<%= form_with model:@address, url:"/addresses/#{@address.id}", local:true do |f| %>
  <h4>郵便番号(ハイフンなし)</h4><%= f.text_field :post_code %>

  <h4>住所</h4><%= f.text_field :address %>

  <h4>宛名</h4><%= f.text_field :name %>
  <%= f.submit '変更内容を保存' %>
<% end %>