<h1>配送先登録/一覧</h1>

<%= render 'addresses/new', address: @address %>

<table class="table table-bordered">
  
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="3"></th>
    </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.post_code%></td>
      <td><%=address.address%></td>
      <td><%=address.name%></td>
      <td><%= link_to "編集する", edit_address_path(address.id),class: "btn btn-success" %></td>
      <td> <%= link_to "削除する", address_path(address.id),class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>

  <% end %>
</table>