<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login_comment">
    会員の方はこちらからログイン
  </div>
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <!--% if devise_mapping.rememberable? %>
    <div class="field">
      <!%= f.check_box :remember_me %>
      <!%= f.label :remember_me %>
    </div>
  <!% end %-->

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="login_comment">会員登録がお済みでない方</div>
<div class="kochira">
<%= render "customers/shared/links" %>
から新規登録を行なってください。
</div>