<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<<<<<<< HEAD
  <%= render "customers/shared/error_messages", resource: resource %>
=======
<<<<<<< HEAD:app/views/admins/unlocks/new.html.erb
  <%= render "admins/shared/error_messages", resource: resource %>
=======
  <%= render "customers/shared/error_messages", resource: resource %>
>>>>>>> origin/develop:app/views/customers/unlocks/new.html.erb
>>>>>>> origin/develop

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<<<<<<< HEAD
<%= render "customers/shared/links" %>
=======
<<<<<<< HEAD:app/views/admins/unlocks/new.html.erb
<%= render "admins/shared/links" %>
=======
<%= render "customers/shared/links" %>
>>>>>>> origin/develop:app/views/customers/unlocks/new.html.erb
>>>>>>> origin/develop
