<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <a class="navbar-brand" href="/">Logo</a>
        <% if customer_signed_in? %>
          <p>ようこそ、<%= @customer.last_name %>さん！</p>
          <li>
          <%= link_to 'マイページ', customer_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
          <%= link_to 'About', about_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path %>
          </li>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
